<div th:fragment="carouselFragment" id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 500px;">
      <img src="/계룡건설.png" height="100%" class="d-block w-100" alt="계룡">
    </div>
    <div class="carousel-item" style="height: 500px;">
      <img src="/AI개발자과정.png" height="100%" class="d-block w-100" alt="AI개발자과정">
    </div>
    <div class="carousel-item" style="height: 500px;">
      <img src="/관제시스템.png" height="100%" class="d-block w-100" alt="관제시스템">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
