<html layout:decorate="~{layout}">
<div layout:fragment="content" class="proposal-list">
    <div th:replace="~{carousel :: carouselFragment}"></div>
    
    <div class="proposal-tabs">
        <a href="#" class="tab active" data-tab="latest">최신순 건의보기</a>
        <a href="#" class="tab" data-tab="unanswered">답변대기</a>
        <a href="#" class="tab" data-tab="answered">답변완료</a>
        <a th:href="@{/proposal/classification?classification=}" class="tab" data-tab="category">분류별 건의보기</a>
    </div>

    <div class="table_list">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성일</th>
                    <th scope="col">답변여부</th>
                </tr>
            </thead>
            <tbody>
                <tr class="proposal-row" th:each="proposal: ${proposalList}">
                    <td th:text="${proposal.classification}"></td>
                    <td>
                        <a th:href="@{|/proposal/detail/${proposal.id}|}" th:text="${proposal.subject}"></a>
                    </td>
                    <td th:text="${proposal.createDate}"></td>
                    <td class="status" th:text="${proposal.isAnswered ? '완료' : '대기'}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        window.addEventListener("load", function() {
            console.log('DOMContentLoaded');
            const tabs = document.querySelectorAll('.proposal-tabs .tab');
            
            tabs.forEach(tab => {
                tab.addEventListener('click', function(event) {
                    tabs.forEach(t => t.classList.remove('active'));
                    this.classList.add('active');
                    
                    const tabType = this.getAttribute('data-tab');
                    console.log('Selected tab:', tabType);

                    const rows = document.querySelectorAll('.proposal-row');

                    rows.forEach(row => {
                        const statusCell = row.querySelector('.status');
						if (statusCell) {
							const statusText = statusCell.textContent.trim();
							if (tabType === 'unanswered') {
							    if (statusText === '대기') {
							        row.style.display = '';
							    } else {
							        row.style.display = 'none';
							    }
							} else if (tabType === 'answered') {
							    if (statusText === '완료') {
							        row.style.display = '';
							    } else {
							        row.style.display = 'none';
							    }
							} else {
							    row.style.display = '';
							}
						}
                    });
                });
            });
        });
    </script>

</div>
</html>
