<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="signup-form">  
	    <div class="my-3 border-bottom signup-label">
	        <div>
	            <h4>회원가입</h4>
	        </div>
	    </div>
	    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" autocomplete="off">
	        <!-- Global Error Message -->
	        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
	            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="margin: 0"></p>
	        </div>
	
	        <!-- userID Field -->
	        <div class="mb-3 user-id">
	            <input type="text" th:field="*{userID}" class="form-control" placeholder="ID">
	            <span class="error" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}"></span>
	        </div>
			
			<!-- userID Field -->
			<div class="mb-3 user-name">
			    <input type="text" th:field="*{username}" class="form-control" placeholder="Name">
			    <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
			</div>
	
	        <!-- Password Fields -->
	        <div class="mb-3 user-password">
	            <input type="password" th:field="*{password1}" class="form-control" placeholder="Password">
	            <span class="error" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></span>
	        </div>
	        <div class="mb-3 user-password-confirm">
	            <input type="password" th:field="*{password2}" class="form-control" placeholder="Check Password">
	            <span class="error" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></span>
	        </div>
	
	        <!-- Email Field -->
	        <div class="mb-3 user-email">
	            <input type="email" th:field="*{email}" class="form-control" placeholder="Email">
	            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	        </div>
	
	        <!-- Submit Button -->
			<div class="signup-btn-group">
	        	<button type="submit" class="btn btn-primary">회원가입</button>
			</div>
	    </form>
	</div>
</div>
</html>
